
.tooltiptext {
  display: flex;
  flex-direction: column;
}

.tooltiptext div {
  background: red;
  width: 100px;
  height: 60px;
  text-align: center;
  color: white;
  border-radius: 8px;
  font-size: 1.5rem;
  margin-left: 50px;
}

.tootip {
  display: flex;
  flex-direction: column;
}

.tootip div {
  background: red;
  width: 120px;
  height: 50px;
  text-align: center;
  color: white;
  border-radius: 8px;
  font-size: 1.1rem;
  margin-left: 50px;
}
